<mat-toolbar style="background-color:#051b2d;">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon toolbar-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>menu</mat-icon>
          </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/login" routerLinkActive="active">Login Page</a>
            <a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </div>
        <span class="toolbar-color">Config Editor</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grey">
    <div class="row">
        <!-- Dashboard -->
        <div class="py-2">
            <div>
                <div class="mx-2">
                    <button class="btn btn-green mx-2"><i class="fa fa-regular fa-pencil"></i> Create Config</button>
                    <button class="btn btn-green-outline"><i class="fa fa-regular fa-upload"></i> Upload Config</button>

                    <!-- If List is active, make cards not -->
                    <a class="btn float-right mr-4"><i class="fa fa-regular fa-list"></i> List</a>
                    <!-- Set this one as active with Javascript -->
                    <a class="btn float-right mr-1"><i class="fa fa-regular fa-th-large"></i> Cards</a>
                    <input class="fa search font-fix float-right mr-4" type="text" placeholder="&#xF002; Search">
                </div>
            </div>

            <div class="cards mt-3">
                <!-- Whenever a configuration is created, a card will be generated in this div. -->
                <!-- Sample cards -->
                <div class="card-group">
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body">
                                <button mat-icon-button class="example-icon card-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Duplicate</a>
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                                <!-- Card title needs 30 character limit -->
                                <h3 class="card-title">Sample Configuration File</h3>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it it to make a type specimen book. It has survived not only five centuries,</p>
                                <p class="card-text card-date">03/06/22</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body">
                                <button mat-icon-button class="example-icon card-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Duplicate</a>
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                                <h3 class="card-title">Another sample configuration file</h3>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it it to make a type specimen book. It has survived not only five centuries,</p>
                                <p class="card-text card-date">03/06/22</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body">
                                <button mat-icon-button class="example-icon card-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Duplicate</a>
                                    <a class="dropdown-item" href="#">Download</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                                <h3 class="card-title">Another another one</h3>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it it to make a type specimen book. It has survived not only five centuries,</p>
                                <p class="card-text card-date">03/06/22</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

