<body>
    <mat-toolbar style="background-color:#051b2d;">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon toolbar-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/login" routerLinkActive="active">Login</a>
                <a class="dropdown-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a class="dropdown-item" routerLink="/config" routerLinkActive="active">Config Editor Tool</a>
            </div>
            <span class="toolbar-color">Config Editor Tool</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="container mt-3">
        <!-- Editor -->
        <!-- Server Info -->
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="server">Server:</label>
                    <input type="text" class="form-control" formControlName="server"  placeholder="azure">
                </div>
                <div class="form-group col-md-4">
                    <label for="organization">Organization:</label>
                    <input type="text" class="form-control" formControlName="organization"  placeholder="huntermob">
                </div>
                <div class="form-group col-md-4">
                    <label for="pat_username">PAT Username:</label>
                    <input type="text" class="form-control" formControlName="pat_username"  placeholder="devopsMetrics">
                </div>
            </div>
            <!-- Products -->
            <div formArrayName="products">
                <div *ngFor="let product of productsForm.controls; let i = index" class="border border-dark rounded my-2 px-2 py-2">
                    <h2 class="mt-2">Product {{i + 1}}</h2>
                    <div class="form-row" [formGroupName]="i">
                        <div class="form-group col-md-4">
                            <label>SVG Product Name:</label>
                            <input class="form-control" formControlName="svg_product_name">
                        </div>

                        <div class="form-group col-md-4" formArrayName="headers">
                            <label>Headers</label>
                            <div *ngFor="let header of product.get('headers')['controls']; let j = index">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" [formControlName]="j">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" (click)="deleteHeader(product.get('headers'), j)">x</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-green" (click)="addHeader(product.get('headers'))">Add Header</button>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label>Number of Days Displayed</label>
                            <input class="form-control" formControlName="numDays">
                        </div>
                        
                        <!-- Projects -->
                        <div class="col-md-4">
                            <div formArrayName="projects">
                                <div *ngFor="let project of product.get('projects')['controls']; let j = index">
                                    <div [formGroupName]="j">
                                        <label>Project {{j + 1}} Name:</label>
                                        <div class="input-group mb-3">
                                            <input class="form-control" formControlName="project_name"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-danger" (click)="deleteProject(product.get('projects'), j)">x</button>
                                            </div>
                                        </div>
                                        <!-- Pipelines -->
                                        <div formArrayName="pipelines">
                                            <div *ngFor="let pipeline of project.get('pipelines')['controls']; let k = index">
                                                <div [formGroupName]="k">
                                                    
                                                    <button class="btn btn-danger" (click)="deletePipeline(project.get('pipelines'))">Delete Pipeline</button>

                                                    <!-- Builds -->
                                                    <div formArrayName="build">
                                                        <div *ngFor="let build of pipeline.get('build')['controls']; let l = index">
                                                            <div [formGroupName]="l">
                                                                <h3>Build {{l + 1}}:</h3>

                                                                <!-- User defined build -->
                                                                <div formArrayName="buildUserDefined">
                                                                    <div *ngFor="let buildUser of build.get('buildUserDefined')['controls']; let m = index">
                                                                        <div [formGroupName]="m">
                                                                            <label>ID:</label>
                                                                            <input class="form-control" formControlName="id">
                                                                        </div>

                                                                        <!-- Build Stages -->
                                                                        <div formArrayName="stages">
                                                                            <div *ngFor="let stage of buildUser.get('stages')['controls']; let n = index">
                                                                                <div [formGroupName]="n">
                                                                                    <label>Name:</label>
                                                                                    <input class="form-control" formControlName="name">

                                                                                    <label>Alias:</label>
                                                                                    <input class="form-control" formControlName="alias">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <button class="btn btn-green" (click)="addStage(buildUser.get('stages'))">Add Stage</button>
        

                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-green" (click)="addBuildUser(build.get('buildUserDefined'))">Add User Defined Build</button>

                                                            </div>
                                                            <button class="btn btn-danger" (click)="deleteBuild(pipeline.get('build'), k)">x</button>                   
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-green" (click)="addBuild(pipeline.get('build'))">Add Build</button>

                                                    <!-- Releases -->

                                                </div>                         
                                            </div>
                                        </div>
                                        <button class="btn btn-green" (click)="addPipeline(project.get('pipelines'))">Add Pipeline</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-green" (click)="addProject(product.get('projects'))">Add Project</button>
                        </div>

                    </div>
                    <button class="btn btn-danger mt-2"(click)="deleteProduct(i)">Delete Product</button>

                </div>
            </div>
            
            <button class="btn btn-green mt-2" (click)="addProduct()">Add Product</button>
        </form>

        <div class="json-results mt-3">
            <pre>{{this.form.value | json}}</pre>
        </div>
    </div>
</body>