
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grey {
    background-color: #f3f5f5;
    height: 95vh;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 2;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #b6b6b6;
}

.toolbar-color {
    color:rgb(240, 240, 240);
}

.btn-green {
    color: white;
    background-color: #0da682;
}

.btn-green-outline {
    border-color: #0da682;
    border: 2px solid #0da682;;
    color: #0da682;
}

.search {
    background-color: white;
    border: none;
    padding: 10px;
    margin-top: 2px;
    width: 12%;
    font-style: normal;
}

.float-right {
    float: right;
}

.font-fix {
    font-family: FontAwesome, Roboto;
}

.card-date {
    position: flex;
    bottom: 0;
    color: grey;
}

.light-border {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 4px;
}

.file-input {
    display: none;
}

.config-title {
    border: 2px solid black;
}